{% extends 'base.html.twig' %}

{% block title %}
	Publicaciones
{% endblock %}

{% block body %}
	<h1>Ultimas publicaciones</h1>
	{% for post in posts %}
		<h2>
			<a href="{{ path('app_post', {slug: post.slug}) }}" class="text-black text-decoration-none">
				{{ post.title }}
			</a>
		</h2>
		{% include "page/_info.html.twig" %}
	{% else %}
		<p>No hay publicaciones.</p>
	{% endfor %}
{% endblock %}
